@media screen and (min-width: 428px) {
  .container {
    max-width: 426px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .advantages-list {
    gap: 72px 24px;
  }
  .advantages-subtitle {
    text-align: left;
  }
  .advantages-item {
    width: calc((100% - 24px) / 2);
  }

  .team-list {
    column-gap: 24px;
    gap: 72px 24px;
    max-width: 552px;
  }
  .team-item {
    width: calc((100% - 24px) / 2);
  }
  .costomers-list {
    gap: 72px 24px;
    max-width: 552px;
    margin: 0 auto;
  }
  .costomers-item {
    width: calc((100% - 48px) / 3);
    height: 88px;
  }
  .footer {
    height: 456px;
    padding: 100px 0;
    align-items: baseline;
  }

  .footer-logo {
    justify-content: left;
  }

  .footer-social-text {
    justify-content: left;
  }

  .footer-container {
    display: flex;
    max-width: 552px;
    gap: 24px;
    flex-wrap: wrap;
  }
  .footer-social {
    margin-top: 0;
  }
  .footer-sub {
    display: block;
  }
  .footer-form-sub {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .footer-label {
    width: 264px;
  }

  .footer-social-list {
    display: flex;
    gap: 16px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
  .advantages {
    background-color: var(--color-white);
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .advantages-list {
    background-color: var(--color-white);
    display: flex;
    gap: 24px;
    width: 100%;
  }
  .advantages-item {
    width: calc((100% - 72px) / 4);
  }
  .advantages-item-top {
    width: 264px;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background: var(--cloud, #f4f4fd);
    margin-bottom: 8px;
  }
  .advantages-subtitle {
    color: var(--color-navy-blue);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }
  .advantages-item-text {
    color: var(--color-slate);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
    gap: 8px;
  }
  .images {
    padding-bottom: 120px;
    display: block;
  }
  .images-title {
    color: var(--color-navy-blue);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
    display: block;
  }
  .images-list {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    max-width: 1128px;
  }
  .images-item {
    width: calc((100% - 48px) / 3);
    display: block;
  }
  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .team-list {
    max-width: 1128px;
  }
  .team-item {
    width: calc((100% - 72px) / 4);
  }
  .costomers {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .costomers-list {
    max-width: 1128px;
  }
  .costomers-item {
    width: calc((100% - 120px) / 6);
    height: 88px;
  }
  .footer-container {
    flex-wrap: nowrap;
    gap: 0;
    max-width: 1128px;
  }
  .footer-text {
    width: 264px;
  }

  .footer-social-list {
    flex-wrap: nowrap;
    gap: 8px;
  }
  .footer-social-item {
    justify-content: left;
  }

  .footer-container-logo {
    margin-right: 120px;
  }

  .footer-social {
    margin-right: 80px;
  }
  .footer-input {
    width: 264px;
  }
}
