:root {
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-navy-blue-modal: #2e2f42;
  --color-grey: #2e2f42;
  --color-white: #ffffff;
  --color-dairy: #fcfcfc;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--color-slate);
  background-color: var(--color-white);
  size: 16px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

* {
  box-sizing: border-box;
}

.link {
  text-decoration: none;
}
.list {
  list-style-type: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* ------HEADER------- */

.header {
  display: flex;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  /* margin-top: 24px;
  margin-bottom: 24px; */
}
.header-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #404bbf;
}
.header-menu {
  display: flex;
  align-items: center;
  gap: 40px;
  display: none;
}
.header-contacts {
  font-style: normal;
  display: flex;
  margin-left: auto;
  padding-top: 24px;
  padding-bottom: 24px;
  display: none;
}

.header-contacts-menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.header-logo {
  padding: 25px 0;
  color: var(--color-iris);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}
.header-logo-accent {
  color: var(--color-navy-blue);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.header-menu-item {
}

.header-menu-link {
  color: var(--color-navy-blue);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: var(--color-ocean);
}

.header-contacts-link {
  color: var(--color-slate);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contacts-link:hover,
.header-contacts-link:focus {
  color: var(--color-ocean);
}

/* ----------------BURGER------------------- */
.menu-open-button {
  margin-left: auto;
  width: 32px;
  height: 24px;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-open-icon {
}
.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
}
.menu-close-button {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  margin-left: 40px;
}

.menu-close-icon {
}
.mob-menu-list {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.list {
}
.mob-menu-item {
}
.mob-menu-link {
  color: var(--color-navy-blue);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}

.current {
}
.mob-menu-contacts {
  margin-top: auto;
}
.mob-contacts-list {
}
.mob-contacts-item {
}
.mob-contacts-email {
  color: var(--slate, #434455);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.4px;
  display: block;
}
.mob-contacts-tel {
  color: var(--iris, #4d5ae5);
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 15px;
  display: block;
  width: 100%;
}
.mob-social-list {
  display: flex;
  gap: 25px;
  margin-top: 48px;
}
.mob-social-item {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--cloud);
  background-color: var(--color-iris);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-bottom: 72px;
}
.mob-social-link {
  width: 100%;
  height: 100%;
  background-color: var(--color-iris);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-social-icon {
  fill: #f4f4fd;
}
.current,
.mob-current {
  position: relative;
  color: var(--color-ocean);
}
.current::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  bottom: -1px;
  height: 4px;
  border-radius: 2px;
  background-color: var(--color-ocean);
}
/* -----------------------HERO----------------------- */
.hero {
  background-color: var(--color-navy-blue);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/Dark-bg-mob-min.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 112px;
  padding-bottom: 240px;
  margin: 0 auto;
  height: 432px;
}
@media (min-device-pixel-rativo: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg-mob2x-min.jpg);
  }
}

.hero-title {
  color: var(--color-white);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  max-width: 320px;
  padding-left: auto;
  margin: auto;
  margin-bottom: 72px;
}

.hero-button {
  color: var(--color-white);
  background-color: var(--color-iris);
  font-family: inherit;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  min-width: 169px;
  display: block;
  height: 56px;
  border: none;
  margin: auto;
  padding: 16px 32px;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 112px;
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--color-ocean);
}

/* ---------------ADVANTAGES------------ */

.advantages {
  background-color: var(--color-white);
  padding-top: 96px;
  padding-bottom: 96px;
}
.advantages-list {
  background-color: var(--color-white);
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  /* width: 100%; */
}

.advantages-item {
  /* width: calc((100% - 72px) / 4); */
}
.advantages-item-top {
  /* width: 264px;
  height: 112px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background: var(--cloud, #f4f4fd);
  margin-bottom: 8px; */
  display: none;
}

.advantages-subtitle {
  color: var(--color-navy-blue);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}
.advantages-item-text {
  color: var(--color-slate);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  /* width: 264px; */
  width: 100%;
  gap: 8px;
}

/* ---------------IMAGES------------ */
.images {
}
.images-title {
  display: none;
}
.images-list {
  display: none;
}
.images-item {
  display: none;
}
/* ---------------TEAM-------------*/

.team {
  background-color: var(--color-cloud);
  padding-top: 96px;
  padding-bottom: 96px;
}
.team-title {
  color: var(--color-navy-blue);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.container-text {
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
  width: 264px;
}
.team-name {
  color: var(--color-navy-blue);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.team-text {
  color: var(--color-slate);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.team-icon-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-icon-item {
  width: 40px;
  height: 40px;
}
.team-icon-link {
  width: 100%;
  height: 100%;
  background-color: var(--color-iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icon-link:hover,
.team-icon-link:focus {
  background-color: #404bbf;
}
.team-img-icon {
  width: 16px;
  height: 16px;
  fill: #f4f4fd;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.team-item {
  background-color: var(--color-white);
  border-radius: 0px 0px 4px 4px;
  /* width: calc((100% - 72px) / 4); */
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  justify-content: center;
  align-items: center;
}
/* --------------COSTOMERS------------ */

.costomers {
  padding-top: 96px;
  padding-bottom: 96px;
}
.costomers-title {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.costomers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 16px;
  max-width: 426px;
}

.costomers-item {
  width: calc((100% - 16px) / 2);
  height: 88px;
}

.costomers-item:hover,
.costomers-item:focus {
  border-color: #404bbf;
  color: #404bbf;
}

.costomers-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8e8f99;
  border: 1px solid var(--lightslate, #8e8f99);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.costomers-icon {
  fill: currentColor;
}
.costomers-link:hover,
.costomers-link:focus {
  border-color: #404bbf;
  color: #404bbf;
}

/* --------------FOOTER-------------- */

.footer {
  background-color: var(--color-navy-blue);
  padding-top: 96px;
  padding-bottom: 96px;
  margin: 0 auto;
  /* height: 664px; */
}
.footer-container-logo {
  /* margin-right: 120px; */
}
.footer-logo {
  margin-bottom: 16px;
  color: var(--color-iris);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}
.link {
  /* display: inline-block; */
}

.footer-logo-accent {
  color: var(--color-cloud);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-text {
  color: var(--color-cloud);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 268px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.footer-container {
}

.footer-social {
  margin-top: 72px;
}
.footer-social-text {
  color: var(--white, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-bottom: 72px;
}
.footer-social-item {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--cloud);
  background-color: var(--color-iris);
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.footer-social-link {
  width: 100%;
  height: 100%;
  background-color: var(--color-iris);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}
.footer-social-icon {
  fill: #f4f4fd;
}
.footer-sub {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.footer-sub-text {
  color: var(--white, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.footer-form-sub {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.footer-label {
  width: 100%;
}
.footer-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--white, #fff);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  padding-left: 16px;
  padding-right: 10px;
  background-color: transparent;
  justify-content: space-between;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-input::placeholder {
  color: #ffffff;
}
.footer-sub-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;
  color: #fff;
  text-align: center;
  padding-left: 24px;
  padding-right: 24px;
  gap: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  background: var(--iris, #4d5ae5);
  cursor: pointer;
  border: none;
  margin: 0 auto;
}

.submit-icon {
  width: 24px;
  height: 24px;
  /* margin-left: 16px; */
}

/* =============Gallery========= */

.gallery {
  background-color: var(--color-white);
  padding: 96px 0 120px 0;
}
.gallery-title {
}

.gallery-btn-list {
  text-align: center;
  display: flex;
  margin-bottom: 72px;
  justify-content: center;
  gap: 24px;
}
.gallery-btn-item:hover,
.gallery-btn-item:focus {
  color: var(--color-white);
  background-color: var(--color-ocean);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.gallery-btn-item {
  color: var(--color-iris);
  background-color: var(--color-cloud);
  text-align: center;
  font-family: inherit;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ==============PORTFOLIO============= */

.gallery-portfolio-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  row-gap: 48px;
  flex-wrap: wrap;
  padding-bottom: 120px;
}

.gallery-portfolio-item {
  width: calc((100% - 48px) / 3);
}
.gallery-portfolio-img {
  position: relative;
  overflow: hidden;
}
.gallery-img-text {
  position: absolute;
  top: 0;
  padding: 40px 32px;
  height: 100%;
  width: 100%;
  color: var(--cloud, #f4f4fd);
  background-color: #4d5ae5;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-portfolio-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery-portfolio-link:hover,
.gallery-portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}

.gallery-portfolio-title {
  color: var(--color-navy-blue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.container-galrery-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-portfolio-text {
  color: var(--color-slate);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.gallery-portfolio-link:hover .gallery-img-text,
.gallery-portfolio-link:focus .gallery-img-text {
  transform: translateY(0%);
}

/* =======backdrop======= */

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--navyblue-modal, rgba(46, 47, 66, 0.4));
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 32px;
  width: 95%;
  max-width: 392px;
  height: 95%;
  max-height: 584px;
  overflow: scroll;
  margin-top: 88px;
  margin-bottom: 8px;
  border-radius: 4px;
  background-color: var(--dairy, #fcfcfc);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1);
}
.modal-close-button {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-title {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.modal-field {
  margin-bottom: 8px;
  width: 100%;
}
.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--navyblue-modal, rgba(46, 47, 66, 0.4));
  padding-left: 38px;
  padding-right: 16px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
}
.modal-input:focus {
  border: 1px solid var(--iris, #4d5ae5);
}

.modal-input:focus + .modal-ikon {
  fill: #4d5ae5;
}

.modal-label {
  color: var(--lightslate, #8e8f99);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  display: inline-block;
  margin-bottom: 4px;
  display: block;
}
.modal-ikon {
  fill: var(--navy-blue, #2e2f42);
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.model-input-wrap {
  position: relative;
}
.modal-field-area {
  margin-bottom: 16px;
}

.modal-comment {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  border: 1px solid var(--navyblue-modal, rgba(46, 47, 66, 0.4));
  padding: 16px 18px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
  background-color: transparent;
  padding: 8px 16px;
  color: rgba(46, 47, 66, 0.4);
}
.modal-comment:focus {
  border: 1px solid var(--iris, #4d5ae5);
}
.modal-comment::placeholder {
  color: var(--navyblue-modal, rgba(46, 47, 66, 0.4));
}

.modal-field-check {
  margin-bottom: 24px;
}
.modal-check-text {
  color: var(--lightslate, #8e8f99);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  align-items: center;
}

.modal-check-ikon {
  outline: transparent;
}
.modal-check-text span {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid var(--navyblue-modal, rgba(46, 47, 66, 0.4));
  background: var(--dairy, #fcfcfc);
  margin-right: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-check:checked + .modal-check-text span {
  background-color: var(--ocean, #404bbf);
  border: none;
  fill: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-check-link {
  color: var(--iris, #4d5ae5);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: 0.04em;
}
.modal-close-button:hover,
.modal-close-button:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-icon:hover,
.modal-close-icon:focus {
  fill: #ffffff;
}

.modal-form-btn {
  min-width: 169px;
  height: 56px;
  margin: auto;
  background-color: var(--iris, #4d5ae5);
  color: #fff;
  display: block;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  outline: transparent;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
